/* decendent selector */
/* div p{
    background-color: yellow;
    color: purple;
} */
/* decendent selector */
div p{
    font-family:fantasy;
}
.first-div p {
    background-color: green;
    text-decoration: underline;
}
/* child selector */
.second-div > span {
  background-color:teal;
  font-size: 32px;
  color: chocolate;
}
/* adjacent sibling selector */
.third-div + p{
  font-size: 20px;
  background-color: yellowgreen;
}
/* general selector div */
.fourth-div ~ p{
  background-color: violet;
  color: crimson;
}
.third-div{
    background-color: tomato;
}
.fourth-div{
    background-color: burlywood;
}
.fifth-div{
    background-color: brown;
    font-size: 30px;
}
video{
    width: 200px;
    height: 200px;
}